.bannerContainer {
  width: 100vw;
  max-width: 100vw;
  overflow: hidden;
  background: linear-gradient(90deg, #D3A7E0 100%);
  padding: 0;
  margin: 0;
  margin-left: -15px;
  position: relative;
  height: 60px;
  display: flex;
  align-items: center;
  z-index: 1;
  transform: rotate(-2deg);
}

.scroller {
  display: flex;
  align-items: center;
  gap:20px;
  width: max-content;
  animation: scroll-banner 200s linear infinite;
}

.bannerImage {
  height: 64px;
}

@keyframes scroll-banner {
  0% { transform: translateX(0); }
  100% { transform: translateX(-50%);}
}

/* Mobile styles */
@media (max-width: 768px) {
  .bannerContainer {
    height: 40px;
    margin-left: -20px;
  }
  
  .bannerImage {
    height: 40px;
  }
  
  .scroller {
    gap: 15px;
  }
}